<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Thymeleaf Exercise #</title>
    <link rel="stylesheet" th:href="@{/style.css}" />
    <meta charset="utf-8" />
</head>
<body>
<div class="container">
    <div>
        <table style="border: black">

            <tr>
                <td ><a href="home">home</a></td>
                <td ><a href="home/color">random color</a></td>
                <td><a href="email"></a> </td>

            </tr>
        </table>
    </div>
</div>

</body>
</html>