<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>HomePage</title>
    <link rel="stylesheet" th:href="@{style.css}" />
</head>
<body>
<h3>Table of Active ToDoes</h3>
<a href="add">add new</a>
<table class="center">
    <tr>
        <th>Id</th>
        <th>To Do</th>
        <th>Done</th>
        <th>Urgent</th>
        <th>Delete</th>
        <th>Update</th>
    </tr>
    <tr th:each="todo : ${todond}">
        <td th:text="${todo.id}"></td>
        <td th:text="${todo.title}"></td>
        <td th:text="${todo.urgent}"></td>
        <td th:text="${todo.done}"></td>
        <td>
            <form th:action="@{/todo/delete/${todo.id}}" th:object="${todo}" method="post">
                <input type="hidden">
                <button type="submit" onclick="return confirm('you sure?')">del</button>
            </form>

    </tr>
</table>


</ul>

</body>
</html>