<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>HomePage</title>
    <link rel="stylesheet" th:href="@{style.css}" />
</head>
<body>
    <h2>Angry Possum app</h2>
        <a href="information">Information</a>
        <a href="/login"> Login</a>
        <img  src="Possum.jpg">
        <p class="decryption">This is an Angry Possum. Be nice to her and feed her</p>
    <h3 class="listHead">Known Tricks</h3>
        <ul class="list"></ul>
            <li></li>

</body>
</html>