body {
    background-color: blue;
    font: 20px arial;
}
table, th, td {

    border-collapse: collapse;
    font: 20px arial;
    background-color: gray;
}
th, td {
    padding: 20px;
    border: 2px solid gray;
    text-align: left;
}
table.center {
    border-radius: 10px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: auto;
    margin-top: 150px;
    width: 70%;
    border-style: hidden;
    padding: 20px;
}